<div style="text-align: center;">
  <h2>Edit Shelter</h2>
  <%= form_with model: @shelter, url: "/shelters/#{@shelter.id}/edit", method: :patch, data: { turbo: false } do |form| %>
    <%= form.label :name, "Name: " %>
    <%= form.text_field :name, value: @shelter.name %><br>

    <%= form.label :user_id, "User ID: " %>
    <%= form.text_field :user_id, value: @shelter.user_id %><br>
    
    <%= form.submit "Save" %>
  <% end %>
  <br> 

  <%= image_tag("logo.jpeg", style: "width: 400px; height: auto;")%>
</div>