<%= render partial: "/shared/inside_shelter" %>
<%= render partial: "/shared/navbar" %>

<style>
h1,h2,p {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0px black;
}
</style>


<% if @facade.shelter.user_id%>
  <div style="text-align: center;">
    <h2>Edit Shelter</h2>
    <%= form_with url: "/shelters/#{@facade.shelter.id}?user_id=#{@facade.shelter.user_id}", method: :patch, data: { turbo: false } do |form| %>
      <%= form.label :name, "Name:", style: "color: white;" %>
      <%= form.text_field :name, value: @shelter.name %><br>
      
      <%= form.submit "Save", class: "btn btn-success" %>
    <% end %>
    <br> 

    <%= image_tag("logo.jpeg", class: "img-fluid custom-img-max")%>
  </div>

<% else %>
  <h1> No, no no....Go to User Dashboard ;)</h1>
<% end %>
