<%= render partial: "shared/inside_shelter" %>
<%= render partial: "shared/navbar" %>

<style>
h1,h2 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0px black;
}
</style>


<% if @facade.user_id%>

  <h1>New Shelter</h1>
  <hr>
  <h2>Add A New Shelter</h2>
  <div style="text-align: center;">
    <div class="new_shelter_form">
      <%# the form_with url may not be correct %>
      <%= form_with url: "/shelters?user_id=#{@facade.user_id}", method: :post, data: {turbo: false} do |form| %>
        <%= form.label :name, style: "color: white;" %>
        <%= form.text_field :name %> 
        <br>
      
        <%= form.submit "Save" %>
      <% end %>
    </div>
  </div>

<% else %>
  <h1> No, no no....Go to User Dashboard ;)</h1>
<% end %>