<h1>Shelter Show</h1>
<hr>
<h2>Shelter Name: <%= @shelter.name %></h2>
<h2>Shelter User ID: <%= @shelter.user_id %></h2>

<%= link_to "Create New Animal", "/shelters/#{@facade.shelter.id}/animals/new", class: "btn btn-success", data: { turbo: false } %>

<!-- <%= link_to "Edit Shelter", "/shelters/#{@facade.shelter.id}/edit", data: { turbo: false } %> -->

<%= link_to "Delete Shelter", "/shelters/#{@facade.shelter.id}", method: :delete, data: { turbo: false } %>

<%= link_to "Edit Shelter", "/shelters/#{@facade.shelter.id}/edit", class: "btn btn-success", data: { turbo: false } %>