<%= render partial: "shared/inside_shelter" %>

<style>
  
  h1,h2,h4 {
    color: white;
  text-align: center;
  text-shadow: 2px 2px 0px black;
}

  .animals { 
    color: white;
    text-align: center;
    text-decoration: underline;
  }
  .title {
    color: purple;
    text-align: center;
    font-size: 100px;
  }
  .sub_title {
    color: black;
    text-align: center;
  }

  .display-1 {
    color: #228B22;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0px 0px 12px #1C6EA4;
}

</style>
<h1> <%= @shelter.name %></h1>
<h4>Shelter's User ID: <%= @shelter.user_id %></h4>

<div class="animals">
  <p> <%= @facade.animals.count %> Animals currently living in "<%= @shelter.name %>": </p>
  <% @facade.animals.each do |animal| %>
  <p class="animal">  <%= link_to animal.name, shelter_animal_path(@shelter.id, animal.id), class: "btn btn-success btn-sm shadow-lg" %>  </p>
    <hr>
  <% end %>
  <div>
    <p> <%= link_to "Create New Animal", "/shelters/#{@facade.shelter.id}/animals/new", data: { turbo: false }, class: "btn btn-success shadow-lg" %></p>
    <p> <%= link_to "Edit Shelter", "/shelters/#{@facade.shelter.id}/edit", data: { turbo: false }, class: "btn btn-success shadow-lg" %></p>
    <!-- the delete confirmation is inbuilt, but I am not sure why it is not working-->
    <p> <%= button_to "Delete Shelter", "/shelters/#{@facade.shelter.id}", method: :delete, data: { confirm: "Are you sure you want to delete this shelter?", turbo: false }, class: "btn btn-success shadow-lg" %></p>
  </div>
</div>


<div>
<h1> Calendar </h1>
<%= month_calendar(events: @facade.meetings) do |date, meetings| %>
  <%= date.day %>


  <% meetings.each do |meeting| %>
    <div>
      <dl>
          <dt> <%= link_to  meeting.name, meeting_path(meeting), class: "link-dark text-decoration-none", style: "font-family: 'Helvetica Neue'; font-size: 12px" %> </dt>
      </dl>    
    </div>
  <% end %>
<% end %>
</div>

<%= link_to "Add An Event", new_meeting_path(user_id: @facade.user_id), class: "btn btn-dark text-decoration-none", style: "font-family: 'Helvetica Neue';" %> 
