<div class="container animal-show-container">
  <div class="row justify-content-center">
    <div class="col-md-8">
        <h1 class="roboto text-center text-white text-padding-top"><%= @shelter.name %></h1>
        <br>
        <div class="card-animal-show bg-light">
          <h2 class="text-center text-padding-top quicksand"><%= @facade.animals.size %> Animals currently living in "<%= @shelter.name %>"</h2>
          <div class="cover-container d-flex h-100 p-3 flex-column align-items-center justify-content-center">
            <div class="row">
              <div class="col text-center">
                <div class="animals">
                  <table>
                    <% @facade.animals.each do |animal| %>
                      <tr>
                        <td><%= link_to animal.name, shelter_animal_path(@shelter.id, animal.id), class: "btn btn-success btn-sm shadow-lg" %></td>
                      </tr>
                    <% end %>
                  </table>
                    <br>
                    <br>
                  <div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center padding-bottom">
          <%= link_to "Create New Animal", "/shelters/#{@facade.shelter.id}/animals/new", data: { turbo: false }, class: "btn btn-success shadow-lg m-1" %>
          <%= link_to "Edit Shelter", "/shelters/#{@facade.shelter.id}/edit", data: { turbo: false }, class: "btn btn-success shadow-lg m-1" %>
          <!-- the delete confirmation is inbuilt, but I am not sure why it is not working-->
          <%= button_to "Delete Shelter", "/shelters/#{@facade.shelter.id}", method: :delete, data: { confirm: "Are you sure you want to delete this shelter?", turbo: false }, class: "btn btn-success shadow-lg m-1" %>
        </div>
    </div>
  </div>
</div>


  </div>
</div>


<div >
  <div class="d-flex align-items-center">
<h1> Calendar </h1> </div>
<%= month_calendar(events: @facade.meetings) do |date, meetings| %>
  <%= date.day %>


  <% meetings.each do |meeting| %>
    <div>
      <dl>
          <dt> <%= link_to  meeting.name, meeting_path(meeting), class: "link-dark text-decoration-none", style: "font-family: 'Helvetica Neue'; font-size: 12px" %> </dt>
      </dl>    
    </div>
  <% end %>
<% end %>
</div>

<%= link_to "Add An Event", new_meeting_path(user_id: @facade.user_id), class: "btn btn-dark text-decoration-none", style: "font-family: 'Helvetica Neue';" %> 
