<div class="container-sm">
  <%= simple_form_for :meeting, url: path, method: method, html: { class: "meeting"}, defaults: {required: false} do |f| %>
    <%= f.input :name, label: :Title %>
    <%= f.input :notes %>
    <%= f.input :location %>
    <%= f.input :start_time, as: :date, html5: true, label: :Date %>
    <%= f.input :time, as: :time, html5: true, label: :Time %>
    <%= f.submit "Save Event", class: "btn btn-success sm" %>
  <% end %>
</div>


