<div class="container new-event-container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="roboto text-center text-white header-padding-top">Add an Event to Your Calendar</h1>
      <%= simple_form_for :meeting, url: meeting_path(user_id: @facade.user_id), method: :patch, html: { class: "meeting"}, defaults: {required: false} do |f| %>
        <%= f.input :name, label: :Title, input_html: {value: @facade.meeting.name} %>
        <%= f.input :notes, input_html: {value: @facade.meeting.notes} %>
        <%= f.input :location, input_html: {value: @facade.meeting.location} %>
        <%= f.input :start_time, as: :date, html5: true, label: :Date, input_html: {value: @facade.meeting.start_time} %>
        <%= f.input :time, as: :time, html5: true, label: :Time, input_html: {value: @facade.meeting.time} %>
        <%= f.submit "Update Event", class: "btn btn-success sm" %>
      <% end %>
    </div>
  </div>
</div>

