<style>
h1,h2 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  font-size: 40px;
}

.heading {
   color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  font-size: 30px;
}

.meeting {
  text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px black;
  font-size: 30px;
  font-family: "Helvetica Neue"; 
  
}

p {
text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
  font-family: "Helvetica Neue"; 
}

</style>

<h1><%= @meeting.name %> </h1>
<p> Notes: <%= @meeting.notes %> </p>
<p> Location: <%= @meeting.location %> </p>
<p> Date: <%= @meeting.start_time.strftime('%A, %B %Y') %> at <%= @meeting.time.strftime("%I:%M %p") %> </p>

<%= link_to "User Dashboard", "/users/#{current_user.id}", class: "btn btn-success" %>
<%= link_to "Edit Event", edit_meeting_path(@meeting, user_id: current_user.id), class: "btn btn-success" %>

<%= button_to "Delete Event", meeting_path(@meeting, user_id: current_user.id), method: :delete, class: "btn btn-success", data: { turbo: false } %>