<div style="text-align: center;">
  <h2>Log In</h2>
  <%= form_with url: "/log_in", method: :post, data: { turbo: false } do |form| %>
    <%= form.label :email, "Email: " %>
    <%= form.text_field :email %><br>

    <%= form.label :password, "Password: " %>
    <%= form.text_field :password %><br>
    
    <%= form.submit "Log In", class: "btn btn-success" %>
  <% end %>
  <br> 

<p>New User?</p>
<%= button_to "Register", new_user_path, method: :get, class: "btn btn-success"  %>
<br>
<%= image_tag("logo.jpeg", style: "width: 400px; height: auto;")%>
</div>

