<div class="text-center">
  <h2>Log In with Email</h2>

  <%= form_with url: log_in_path, method: :post, data: { turbo: false }, class: "d-inline-block" do |form| %>

    <div class="mb-2">
      <%= form.label :email, "Email: ", class: "form-label" %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= form.label :password, "Password: ", class: "form-label" %>
      <%= form.password_field :password, class: "form-control" %>
    </div>
    
    <%= form.submit "Submit", class: "btn btn-success btn-sm shadow-lg" %>
  <% end %>
  <br>
  <br>
  <p>New User?</p>
  <%= link_to "Register", new_user_path, method: :get, class: "btn btn-success btn-sm shadow-lg" %><br>
  <br> 
  <hr>
  <%= image_tag("logo.jpeg", class: "img-fluid custom-img-max") %>
</div>