<div class="container user-log-in-container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="roboto text-center text-white text-padding-top">Register New User</h1>
      <div class="user_log_in">
        <%= simple_form_for @user, url: new_user_path, method: :post, html: { class: "user"}, data: { turbo: false} do |f| %>
          <%= f.input :email, :label_html => { :class => 'text-white quicksand weight-bold text-padding-top' } %>
          <%= f.input :password, :label_html => { :class => 'text-white quicksand weight-bold text-padding-top' } %>
          <%= f.input :password_confirmation, :label_html => { :class => 'text-white quicksand weight-bold text-padding-top' } %>
          <%= f.submit class: "btn btn-success" %>
      <% end %>
        <br>
        <p class="text-white font-weight-bold">Already Registered?</p>
        <%= button_to "Log In with Email", log_in_path, method: :get, class: "btn btn-success btn-sm shadow-lg m-1" %>
        <%= link_to "Login with Google (OAuth)", "/auth/google_oauth2", class: "btn btn-success btn-sm shadow-lg m-1" %>
        <br> 
        <hr>
        <br>
        <hr>
      </div>
    </div>
  </div>
</div>
