<style>
h1,h2,h4,p {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0px black;
}
</style>


<%= render partial: "/shared/navbar" %>

<br>
<h2>User Dashboard</h2>
<hr>
<h4>User Email: <%= @user.email %></h4>
<br>
<h2>My Shelters</h2>
<hr>
<%= link_to "Create A Shelter!", new_shelter_path, class: "btn btn-success shadow-lg m-2" %>
<%# need to add new page %>
<br>
<% @facade.shelters.each do |shelter| %>
  <%= link_to shelter.name, shelter_path(shelter.id), class: "btn btn-success shadow-lg m-2", style: "color: white;" %>
<% end %>
<br>
<br>
<hr>
<%= link_to "Log Out", log_out_path, method: :get, class: "btn btn-success shadow-lg m-2"  %>
