<%= render partial: "shared/navbar" %>

<style>
h1,h2,h4,p {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0px black;
}
</style>

<br>
<h1>Your Chicken Tracker Dashboard</h1>
<hr>
<p>User Email: <%= @user.email %></p>
<br>
<br>
<h2>My Shelters</h2>
<hr>
<%# need to add new page %>
<br>
<% @facade.shelters.each do |shelter| %>
  <%= link_to shelter.name, shelter_path(shelter.id, user_id: shelter.user_id), class: "btn btn-success shadow-lg m-2", style: "color: white;" %>
<% end %>
<br>
<br>
<hr>
<%= link_to "~Create A New Shelter~", new_shelter_path(user_id: @user.id), class: "btn btn-success shadow-lg m-2" %>
<hr>
<h4> What's Going On This Week? </h4>
<br>
<%= week_calendar(events: @facade.meetings) do |date, meetings| %>
  <%= date.day %>


  <% meetings.each do |meeting| %>
    <div>
      <%= link_to meeting.name, meeting_path(meeting), class: "link-info text-decoration-none", style: "font-family: 'Helvetica Neue';" %>
    </div>
  <% end %>
<% end %>


<%= link_to "Monthly Calendar", meetings_path(user_id: @facade.user_id), class: "btn btn-dark text-decoration-none", style: "font-family: 'Helvetica Neue';" %>

<%= link_to "Add An Event", new_meeting_path(user_id: @facade.user_id), class: "btn btn-dark text-decoration-none", style: "font-family: 'Helvetica Neue';" %> 
<br>
<br>
<br>
<%= link_to "Log Out", log_out_path, method: :get, class: "btn btn-success shadow-lg m-2"  %>