<div style="text-align: center;">
  <h2>Welcome!</h2>

  <% if current_user %>
    <%= link_to "User Dashboard", "/users/#{current_user.id}", method: :get %>
    <br>
    <%= link_to "Log Out", log_out_path, method: :get %>
  <% else %>
    <%= button_to "Log In", log_in_path, method: :get %> <br>
    <%= button_to "Register", new_user_path, method: :get %>
  <% end %>
  <br> 
  <br> 
  <%= image_tag("logo.jpeg", style: "width: 400px; height: auto;") %>
</div>

<hr>

<div style="text-align: center;">
Already a user?
<br>
  <%= link_to 'Login with Google', "/auth/google_oauth2", class: 'btn btn-primary' %>
</div>