<div class="text-center">
  <h2>Welcome!</h2>

  <% if current_user %>
    <%= link_to "User Dashboard", "/users/#{current_user.id}", method: :get, class: "btn btn-success btn-sm shadow-lg" %><br>
    <%= button_to "Log Out", log_out_path, method: :get, class: "btn btn-success btn-sm shadow-lg" %>
  
  <% else %>
    <%= link_to "Register", new_user_path, method: :get, class: "btn btn-success btn-sm shadow-lg m-1" %><br>
    <%= link_to "Log In with Email", log_in_path, method: :get, class: "btn btn-success btn-sm shadow-lg m-1" %><br>
    <%= link_to "Login with Google (OAuth)", "/auth/google_oauth2", class: "btn btn-success btn-sm shadow-lg m-1" %><br>
  <% end %>
  <br> 
  <br> 
  <hr>
  <%= image_tag("logo.jpeg", class: "img-fluid custom-img-max") %>
</div>