<!DOCTYPE html>
<html>
    <head>
      <title>ChickenTrackerFe</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
    </head>

    <body>
      <div style="background-image: url(<%= asset_path 'beautiful-shot-chickens-grass-farm-sunny-day.jpg' %>); height: 200vh; background-size: cover;">
        <div class="container">
          <% flash.each do |type, msg| %>
            <div>
              <%= msg %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </body>

</html>
