<!DOCTYPE html>
<html>
    <head>
      <title>ChickenTrackerFe</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=DM+Serif+Display:ital@0;1&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital@0;1&display=swap" rel="stylesheet">
    </head>

    <body>
      <%= render partial: "/shared/navbar" %>
        <% flash.each do |type, msg| %>
          <div>
            <%= msg %>
          </div>
        <% end %>
      <%= yield %>
    </body>
</html>
